:host {
  box-sizing: border-box;
  display: grid;
  font-family: Horologium, sans-serif;
  grid-template-columns: 1fr auto;
  gap: 12px;
  min-height: 100vh;
  place-items: center;
  overflow: inherit;
  padding: 8px;
}

.controls {
  align-items: center;
  align-self: start;
  background-color: white;
  display: flex;
  flex-direction: column;
  font: 14px sans-serif;
  grid-area: 1 / 2;
  min-width: 340px;
  padding: 1em;
  gap: 4px;

  .place-name {
    font-weight: bold;
    padding-bottom: 0.5em;
  }

  ::ng-deep .p-checkbox-label {
    white-space: nowrap;
  }

  tbw-time-editor {
    min-height: 34px;
  }

  tbw-angle-editor, tbw-time-editor {
    font-size: 18px;
  }

  tze-zone-selector {
    margin: 0.5em 0;
  }
}

svg {
  height: calc(max(min(calc(100vw - 356px), 100vh) - 16px, 320px));
  grid-area: 1 / 1;
  min-height: 320px;
  min-width: 320px;
  margin: 0;
  width: calc(max(min(calc(100vw - 356px), 100vh) - 16px, 320px));
}

@media screen and (max-height: 410px) {
  .controls {
    margin: -20px -16px;
    transform: scale(0.9);
  }
}

@media screen and (max-height: 366px) {
  .controls {
    margin: -38px -34px;
    transform: scale(0.8);
  }
}

@media screen and (orientation:portrait) {
  :host {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    overflow: auto;
  }

  .controls {
    grid-area: unset;
  }

  svg {
    align-self: start;
    grid-area: unset;
    height: unset;
    width: calc(min(calc(100vw - 16px), 320px));
  }
}

.button-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.graphics-credit {
  bottom: 16px;
  color: #CCC;
  font: italic 14px sans-serif;
  left: 16px;
  position: fixed;
}

.maskBlack {
  fill: black;
}

.maskWhite {
  fill: white;
}

.textPath {
  stroke: none;
  fill: none;
}

.timeText {
  font-size: 50px;
  text-anchor: middle;
  fill: #ffe696;
}

.baseCircle {
  stroke: #ffe696;
  stroke-width: 3px;
  fill: none;
}

.innerCircle {
  fill: #4C8388;
}

.eclipticDial {
  stroke: #ffe696;
  stroke-width: 3px;
  fill: none;
}

.eclipticCircle {
  stroke: #ffe696;
  stroke-width: 4px;
  fill: none;
}

.eclipticSymbol {
  font-size: 85px;
  text-anchor: middle;
  fill: #ffe696;
}

.signsArea {
  stroke: none;
  fill: #276091;
}

.handSymbol {
  stroke: #000000;
  stroke-width: 0.25;
  fill: #EED68D;
}

.sunBeamLargeSymbol {
  fill: #ffe696;
}

.sunBeamSmallSymbol {
  fill: #ffe696;
}

.leverRafieSymbol {
  stroke: none;
  fill: #575652;
}

.leverRafieGolden {
  stroke: #ffe696;
  stroke-width: 5px;
}

.leverSymbol {
  stroke: none;
  fill: #575652;
}

.hourAngleStarSymbol {
  stroke: none;
  fill: #ffe696;
}

.moonDark {
  stroke: none;
  fill: gray;
}

.moonSunlit {
  stroke: none;
  fill: yellow;
}

.moonSphere {
  stroke: none;
  fill: url(#gradientMoonSphere);
}

.sunSphere {
  stroke: none;
  fill: url(#gradientSunSphere);
}

.pin {
  stroke: none;
  fill: orange;
}

.pinSphere {
  stroke: none;
  fill: url(#gradientSunSphere);
}

.outerRingBackground {
  stroke: none;
  fill: #0e3d64;
}

.outerRingBorder {
  stroke: #ffe696;
  stroke-width: 4px;
  fill: none;
}

.outerRingText {
  font-size: 60px;
  text-anchor: middle;
  fill: #ffe696;
}

.eventText {
  font-size: 15px;
  fill: black;
  text-anchor: middle;

  tspan {
    alignment-baseline: central;
  }
}

.unequalHourArea {
  stroke: none;
}

.unequalHourBorder {
  stroke: #ffe696;
  stroke-width: 2px;
  fill: none;
}

.unequalHourBorder2 {
  stroke: red;
  stroke-width: 2px;
  fill: none;
}

.unequalHour6 {
  fill: #0081ae;
}

.unequalHour5 {
  fill: #0D8AB0;
}

.unequalHour4 {
  fill: #1992b2;
}

.unequalHour3 {
  fill: #4799ae;
}

.unequalHour2 {
  fill: #8ca8a7;
}

.unequalHour1 {
  fill: #b0bab1;
}

.horizonArea {
  fill: #d3964d;
}

.darkArea {
  fill: #05304f;
}
