:host {
  box-sizing: border-box;
  display: grid;
  font-family: Horologium, sans-serif;
  gap: 12px;
  grid-template-columns: 1fr auto;
  min-height: var(--mfvh);
  place-items: center;
  padding: 8px;
}

p-toast, p-confirmDialog {
  position: absolute; // Prevent these items from adding grid gap.
}

.controls {
  align-items: center;
  align-self: start;
  background-color: #121212;
  color: rgba(white, 0.87);
  display: flex;
  flex-direction: column;
  font: 14px sans-serif;
  gap: 4px;
  grid-area: 1 / 2;
  min-height: 400px;
  min-width: 400px;
  padding: 1em 0.5em;
  position: relative;
  transition-duration: 0.5s;
  transition-property: height, margin, min-height, min-width, transform, width;
  transition-timing-function: ease-in-out;

  &.short {
    margin: -20px;
    transform: scale(0.9);
  }

  &.extra-short {
    margin: -40px;
    transform: scale(0.8);
  }

  .place-name-group {
    align-items: center;
    display: flex;
    margin: 0 2em;
    padding-bottom: 0.5em;
    opacity: 1;
    position: relative;
    transition: opacity 0.5s ease-in-out;
    top: 0;

    &.collapsed {
      opacity: 0;
      pointer-events: none;
    }

    .place-name {
      font-weight: bold;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .no-name {
      font-style: italic;
      opacity: 0.33;
    }

    input {
      margin: -4px 0;
    }

    .height-holder {
      display: inline-block;
      width: 1px;
    }

    i.pi-pencil, i.pi-save, i.pi-undo {
      cursor: pointer;
      padding: 0.5em;
      position: absolute;
      right: -2em;
      top: -0.5em;
    }

    i.pi-undo {
      right: -3.5em;
    }
  }

  i.pi-caret-left, i.pi-caret-right {
    cursor: pointer;
    font-size: 1.75em;
    opacity: 0.75;
    padding: 0.125em;
  }

  i.pi-bars {
    cursor: pointer;
    padding: 0.5em;
    position: absolute;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    top: 0;

    &.collapsed {
      opacity: 0;
    }
  }

  i.pi-chevron-down {
    cursor: pointer;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.5s ease-in-out;

    &.collapsed {
      transform: rotate(90deg);
    }
  }

  ::ng-deep .p-checkbox-label {
    white-space: nowrap;
  }

  tbw-time-editor {
    min-height: 34px;
  }

  tbw-angle-editor, tbw-time-editor {
    font-size: 18px;
  }

  tze-zone-selector {
    margin: 0.5em 0;
  }

  &.collapsed {
    height: 2.25em;
    margin-left: -2em;
    min-height: 2.25em;
    min-width: 2em;
    width: 2em;
    overflow: hidden;

    .button-row,
    .time-row,
    tze-zone-selector {
      opacity: 0;
      pointer-events: none;
    }
  }
}

svg {
  align-self: start;
  grid-area: 1 / 1;
  height: calc(max(min(calc(100vw - 400px), var(--mfvh)) - 28px, 320px));
  min-height: 320px;
  min-width: 320px;
  margin: 0;
  transition-duration: 0.5s;
  transition-property: height, width;
  transition-timing-function: ease-in-out;
  user-select: none;
  width: calc(max(min(calc(100vw - 400px), var(--mfvh)) - 28px, 320px));

  &.controls-collapsed {
    height: calc(max(var(--mfvh) - 16px, 320px));
    width: calc(max(var(--mfvh) - 16px, 320px));
  }
}

#svg-wrapper {
  position: relative;
}

.svg-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#globe-host {
  border-radius: 50%;
  left: 36.333%;
  height: 27.333%;
  overflow: hidden;
  position: absolute;
  top: 36.333%;
  transform: scale(-1, -1);
  width: 27.333%;
}

@media
  screen and (orientation: landscape) and (max-height: 420px),
  screen and (orientation: portrait) and (max-height: 1000px) {
  .controls {
    margin: -20px;
    transform: scale(0.9);

    &.collapsed {
      margin: -2px -2px;
    }
  }
}

@media screen and (orientation: portrait) and (max-height: 380px) {
  .controls {
    margin: -40px;
    transform: scale(0.8);

    &.collapsed {
      margin: -4px -40px;
    }
  }
}

@media screen and (orientation: portrait) {
  :host {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    overflow: auto;
  }

  .controls {
    grid-area: unset;

    &.collapsed {
      margin-left: 0;
      min-width: 400px;
      width: 400px;
    }

    i.pi-bars.collapsed {
      opacity: 1;
    }
  }

  svg {
    grid-area: unset;
    height: calc(min(calc(100vw - 16px), calc(var(--mfvh) - 428px)));
    width: calc(min(calc(100vw - 16px), calc(var(--mfvh) - 428px)));

    &.controls-collapsed {
      height: calc(max(min(var(--mfvh) - 28px - 2.25em, 100vw - 16px), 320px));
      width: calc(max(min(var(--mfvh) - 28px - 2.25em, 100vw - 16px), 320px));
    }
  }
}

.button-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.time-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-bottom: 0.67rem;
}

#graphics-credit {
  bottom: 16px;
  color: #CCC;
  font: italic 14px sans-serif;
  left: 16px;
  opacity: 1;
  position: fixed;
  transition: opacity 2s ease-in-out;
}

.maskBlack {
  fill: black;
}

.maskWhite {
  fill: white;
}

.textPath {
  stroke: none;
  fill: none;
}

.timeText {
  font-size: 50px;
  text-anchor: middle;
  fill: #FFE696;
}

.baseCircle {
  stroke: #FFE696;
  stroke-width: 3px;
  fill: none;
}

.midnightSunCircle {
  stroke: #BCD;
  stroke-width: 3px;
  fill: none;
}

.midnightSunColor {
  fill: #4799AE;
}

.innerCircle {
  fill: #4C8388;
}

.eclipticWheel {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.eclipticDial {
  stroke: #FFE696;
  stroke-width: 3px;
  fill: none;
}

.eclipticCircle {
  stroke: #FFE696;
  stroke-width: 4px;
  fill: none;
}

.eclipticSymbol {
  font-size: 85px;
  text-anchor: middle;
  fill: #FFE696;
}

.signsArea {
  stroke: none;
  fill: #276091;
}

.handSymbol {
  stroke: black;
  stroke-width: 0.25;
  fill: #EED68D;
}

.sunBeamLargeSymbol {
  fill: #FFE696;
}

.sunBeamSmallSymbol {
  fill: #FFE696;
}

.leverRafieSymbol {
  stroke: none;
  fill: #575652;
}

.leverRafieGolden {
  stroke: #FFE696;
  stroke-width: 5px;
}

.leverSymbol {
  stroke: none;
  fill: #575652;
}

.hourAngleStarSymbol {
  stroke: none;
  fill: #FFE696;
}

.moonDark {
  stroke: none;
  fill: gray;
}

.moonSunlit {
  stroke: none;
  fill: yellow;
}

.moonSphere {
  stroke: none;
  fill: url("#gradientMoonSphere");
}

.sunSphere {
  stroke: none;
  fill: url("#gradientSunSphere");
}

.pin {
  stroke: none;
  fill: orange;
}

.pinSphere {
  stroke: none;
  fill: url("#gradientSunSphere");
}

.outerRingBackground {
  stroke: none;
  fill: #0E3D64;
}

.outerRingBorder {
  stroke: #FFE696;
  stroke-width: 4px;
  fill: none;
}

.outerRingText {
  font-size: 60px;
  text-anchor: middle;
  fill: #FFE696;
}

.eventText {
  fill: black;
  text-anchor: middle;

  tspan {
    alignment-baseline: central;
  }
}

.unequalHourArea {
  stroke: none;
}

.unequalHourBorder {
  stroke: #FFE696;
  fill: none;
}

.unequalHour6 {
  fill: #1085AE;
}

.unequalHour5 {
  fill: #0D8AB0;
}

.unequalHour4 {
  fill: #1992B2;
}

.unequalHour3 {
  fill: #4799AE;
}

.unequalHour2 {
  fill: #8CA8A7;
}

.unequalHour1 {
  fill: #B0BAB1;
}

.horizonArea {
  fill: #D3964D;
}

.darkArea {
  fill: #05304F;
}

.post-2018 {
  .midnightSunColor {
    fill: #2F9DE7;
  }

  .innerCircle {
    fill: #2F9DE7;
  }

  .signsArea {
    fill: #132539;
  }

  .outerRingBackground {
    fill: #132539;
  }

  .unequalHour6 {
    fill: #2F9DE7;
  }

  .unequalHour5 {
    fill: #2F9DE7;
  }

  .unequalHour4 {
    fill: #2F9DE7;
  }

  .unequalHour3 {
    fill: #2F9DE7;
  }

  .unequalHour2 {
    fill: #2F9DE7;
  }

  .unequalHour1 {
    fill: #2F9DE7;
  }

  .horizonArea {
    fill: url("#dawn-dusk-gradient");
  }

  .darkArea {
    fill: #132539;
  }

  #globe-host {
    border: 2px #FFE696 solid;
  }
}
