$controls-background: #121212;
$controls-text: rgba(white, 0.87);
$dark-background-2018: #132532;
$dark-metal: #575652;
$metal-edge: rgba(#2B2B2B, 0.8);
$gold-trim: #FFE696;
$sky-color-2018: #2F9DE7;
