@font-face {
  font-family: "Horologium"; src: url("assets/Horologium.ttf");
}

:root {
  --mfh: 100vh; // mobile full height
  --mvh: 1vh; // mobile vh-like unit
}

html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

body {
  background-color: #4D4D4D;
  font: 14px sans-serif;
  height: var(--mfh);
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.unequalHourText {
  font-size: 30px;
  text-anchor: middle;
  fill: rgb(black, 25%);
  font-family: Horologium, sans-serif;
}

#globe-host {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;

  canvas {
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
  }
}

@media screen and (orientation:landscape) and (max-height: 340px),
       screen and (orientation:landscape) and (max-width: 630px),
       screen and (orientation:portrait) and (max-width: 360px),
       screen and (orientation:portrait) and (max-height: 740px)
{
  html {
    overflow: auto;
  }

  body {
    position: static;
  }
}

.p-menu {
  width: 18em;
}

.p-menu-list {
  min-width: 18em;
  max-height: calc(90 * var(--mvh));
  overflow-y: scroll;
}

.p-dialog-content {
  max-width: 95vw;
}

span.p-menuitem-text {
  white-space: nowrap;
}

.pi.pi-circle {
  opacity: 0;
}

.icon-disabled {
  cursor: default;
  opacity: 0.33;
  pointer-events: none;
}
