<i class="pi pi-times closer" (click)="hide()"></i>
<div i18n class="header">Advanced Options</div>

<div class="colors">
  <p-radioButton [value]="true" [(ngModel)]="settingsHolder.post2018"
      i18n-label label="Post-2018 colors"></p-radioButton>
  <p-radioButton [value]="true" [(ngModel)]="pre2018"
      i18n-label label="Pre-2018 colors"></p-radioButton>
</div>

<p-checkbox [(ngModel)]="settingsHolder.hideMap" [binary]="true" [disabled]="!settingsHolder.post2018" class="hide-map"
    i18n-label label="Hide globe map"></p-checkbox>

<p-checkbox [(ngModel)]="settingsHolder.translucentEcliptic" [binary]="true"
    i18n-label label="Translucent ecliptic"></p-checkbox>

<p-checkbox [(ngModel)]="settingsHolder.detailedMechanism" [binary]="true"
    i18n-label label="Mechanically detailed"></p-checkbox>

<p-checkbox [(ngModel)]="settingsHolder.fasterGraphics" [binary]="true"
    i18n-label label="Faster graphics / less shading"></p-checkbox>

<div class="spacer">&nbsp;</div>
<p-radioButton [value]="MODERN" [(ngModel)]="settingsHolder.timing"
    i18n-label label="Astronomically-accurate, non-mechanical timing"></p-radioButton>
<p-radioButton [value]="MECHANICAL_ORIGINAL" [(ngModel)]="settingsHolder.timing"
    i18n-label label="Original mechanical timing, recalibrated quarterly"></p-radioButton>
<p-radioButton [value]="MECHANICAL_UPDATED" [(ngModel)]="settingsHolder.timing"
    i18n-label label="Updated mechanical timing, recalibrated yearly"></p-radioButton>
