:host {
  align-items: start;
  background-color: #2E2E2E;
  box-sizing: border-box;
  color: white;
  display: none;
  flex-direction: column;
  gap: 0.75em;
  height: 100% !important;
  left: 0 !important;
  overflow: auto;
  padding: 1em;
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
}

.header {
  align-self: center;
  font-weight: bold;
  padding-bottom: 0.75em;
}

.closer {
  cursor: pointer;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
}

.appearance {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
}

.background-input-wrapper {
  position: relative;

  label {
    position: absolute;
    right: 0;
    top: calc(100% + 0.5em);
  }

  .reset {
    bottom: 0;
    left: -2em;
    position: absolute;
    top: 0;
    width: 2em;

    i {
      position: relative;
      top: 0.33em;
    }
  }
}

p-dropdown.timing {
  width: 100%;
  max-width: 100%;

  ::ng-deep .p-dropdown-label {
    font-size: 13px;
  }
}
