:host {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 22em;

  ::ng-deep select {
    width: 12em;
  }
}

::ng-deep .p-dropdown {
  width: 100%;
}

.caption {
  color: #64B5F6;
  font-size: 0.8em;
  padding: 0.25em 0 0.5em;
  text-align: center;
  vertical-align: top;
}

.error {
  color: red;
}

.zone-search {
  display: flex;
  gap: 0.5em;
  padding-bottom: 1em;
  position: relative;

  p-autoComplete {
    flex: 1 1 auto;

    ::ng-deep {
      span, input {
        width: 100%;
      }
    }
  }

  i.pi-search {
    position: absolute;
    right: 3.5em;
    top: 0.65em;
  }

  i.fa-spinner {
    display: none;
    position: absolute;
    right: -1.5em;
    top: 0.65em;
  }

  i.pi-chevron-down {
    cursor: pointer;
  }
}

.mode-selector {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5em;

  ::ng-deep .p-radiobutton-label {
    font-size: 0.9em;
    margin-left: 0.25em;
  }
}

.zone-selector {
  position: relative;
  width: 100%;
}

.zone-selector-row {
  display: table-row;
}

.by-offset, .by-region {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.by-offset {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}
